# 练习2-开始了解你的数据

## 探索Chipotle快餐数据

### 步骤1 导入必要的库

In [1]:
import pandas as pd

### 步骤2 从如下地址导入数据集

In [2]:
path = "../../exercise_data/chipotle.tsv"

### 步骤3 将数据集存入一个名为chipo的变量中

In [3]:
chipo = pd.read_csv(path, sep='\t')

### 步骤4 查看前10行内容

字段名称 | 解释说明
--- | ---
order_id | 订单编号
quantity | 数量
item_name |	产品名称
choice_description | 产品描述
item_price | 产品售价

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 步骤5 数据集中的观测数据有多少？

In [5]:
# Solution 1

chipo.shape[0]

4622

In [6]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### 步骤6 数据集中有多少列? (columns)

In [7]:
chipo.shape[1]

5

### 步骤7 打印出全部的列名

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 步骤8 数据集的索引是怎样的？

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 步骤9 被下单数最多商品(item)是什么?

In [10]:
c = chipo[['item_name', 'quantity']].groupby(['item_name'], as_index=False).sum()
c.sort_values(['quantity'], ascending=False, inplace=True)
c.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

### 步骤10 在item_name这一列中，一共有多少种商品被下单？

In [11]:
chipo['item_name'].nunique()

50

### 在choice_description这一列中，下单次数最多的商品是什么？

In [12]:
chipo['choice_description'].value_counts().sort_values(ascending=False).head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

### 步骤12 一共有多少商品被下单？

In [13]:
total_items_orders = chipo['quantity'].sum()
total_items_orders

4972

### 步骤13 将item_price转换为浮点数

#### 步骤13.a 检查item_price的类型

In [14]:
chipo.item_price.dtype

dtype('O')

#### 步骤13.b 创建一个lambda方法，用于转换item_price的类型

In [15]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

#### 步骤13.c 检查转换后的item_price类型

In [16]:
chipo.item_price.dtype

dtype('float64')

### 步骤14 在该数据集对应的时期内，收入(revenue)是多少？

In [17]:
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'],2)
revenue = chipo['sub_total'].sum()
print('Revenue was: $' + str(revenue))

Revenue was: $39237.02

### 步骤15 在该数据集对应的时期内，一共有多少订单？

In [18]:
chipo['order_id'].nunique()

1834

### 步骤16 每一单(order)对应的平均总价是多少？

In [19]:
# 运行以下代码，已经做过更正
chipo[['order_id','sub_total']].groupby(by=['order_id']).agg({'sub_total':'sum'})['sub_total'].mean()

21.39423118865867

### 步骤17 一共有多少种不同的商品被售出？

In [20]:
chipo['item_name'].nunique()

50