# 练习-数据分组

## 探索酒类消费数据

### 步骤1 导入必要的库

In [1]:
import pandas as pd

### 步骤2 从以下地址导入数据

In [2]:
path ='../../exercise_data/drinks.csv'

### 步骤3 将数据框命名为drinks

字段名称 | 解释说明
--- | ---
country	| 国家
beer_servings |	啤酒消费
spirit_servings | 烈酒消费
wine_servings | 红酒消费
total_litres_of_pure_alchol | 消费的纯酒精统计
continent | 大陆

In [3]:
drinks = pd.read_csv(path)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### 步骤4 哪个大陆(continent)平均消耗的啤酒(beer)更多？

In [4]:
drinks.groupby('continent').beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### 步骤5 打印出每个大陆(continent)的红酒消耗(wine_servings)的描述统计值

In [5]:
drinks.groupby('continent').wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### 步骤6 打印出每个大陆(continent)每种酒类别的消耗平均值

In [6]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### 步骤7 打印出每个大陆(continent)每种酒类别的消耗中位数

In [7]:
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### 步骤8 打印出每个大陆对spirit饮品(spirit_servings)消耗的平均值，最大值和最小值

In [8]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'max', 'min'])

                 mean  max  min
continent
AF          16.339623  152    0
AS          60.840909  326    0
EU         132.555556  373    0
OC          58.437500  254    0
SA         114.750000  302   25